{
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "printWidth": 130,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "singleQuote": true
}
