@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --global-black: #000000;
  --global-blue: #14213d;
  --global-yellow: #fca311;
  --global-dark-grey: #3c3c3c;
  --global-grey: #4b4b4b;
  --global-light-grey: #e5e5e5;
  --global-white: #ffffff;
}

html,
body,
p,
h1 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
